.Input {
  display: flex;
  height: 100px;
  width: 500px;
  resize: none;
  outline: none;

  padding: 5px;

  border: 1px solid #000;
  border-radius: 5px;
}

.Input.Input--invalid {
  border: 1px solid #ad302b;
  background-color: #ffeaea;
}
