.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-logo {
  margin-top: 5px;
  width: 200px;
}

.App-slogan {
  margin-top: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}
